<h2><span class="fas fa-paint-brush"></span> Graphics</h2>
<hr class="underline">

<p class="content">
  The following graphics are royality free. Therefore they have been released
  under the <a href="https://creativecommons.org/publicdomain/zero/1.0" target="_blank" rel="noopener">CC0-licence</a>
  such that you can use them even for commercial purposes without considering any conditions.
  So, have fun using my graphics for free!
</p>

<FilesLister>
  <div class="container">
    {{#each model as |entry|}}
      <Listings::GraphicListing
        @author = {{entry.author}}
        @date = {{format-date entry.date}}
        @description = {{entry.description}}
        @image = {{concat entry.imagePath entry.imageName}}
        @licence = "<a href='{{entry.licenceLink}}' target='_blank' rel='noopener'>{{entry.licenceName}}</a>"
        @path = {{concat entry.path entry.elementName}}
        @tags = {{format-tags entry.tags}}
        @title = {{entry.title}}/>
    {{/each}}
  </div>
</FilesLister>
