<div class="card col-10 col-sm-7 col-md-12 ml-auto mr-auto">
  <div class="row">
    <div class="col-md-4 p-2 pl-3">
      <img class="w-75" alt="Image" src={{@image}}>
    </div>

    <div class="col-md-8 p-1">
      <div class="card-block">
        <h4 class="card-title">
          {{@title}}
          <small>by {{@author}}</small>
        </h4>

        <div class="listing-left-column">
          <p class="card-text small">
            <b>Description</b> <br>
            {{@description}}
          </p>

          <p class="card-text small">
            <b>Tags</b> <br>
            {{@tags}}
          </p>
        </div>

        <div class="listing-right-column">
          <p class="card-text small">
            <b>Licence</b> <br>
            {{html-safe @licence}}
          </p>

          <p class="card-text small">
            <b>Download</b> <br>
            <a class="listing-anchor" download href={{@path}}>
              <span class="fas fa-download"></span>
            </a>
            <span class="listing-date">({{@date}})</span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>